sandbox/
pipeline/temp/
pipeline/scripts/wikiroutes/data_wikiroutes/
pipeline/scripts/wikiroutes/data/
**/__pycache__/
*.pyc
*.zip
log/
pipeline/scripts/wikiroutes/active_routes.txt
_legacy/
filetree/*.txt
filetree/*.txt
filetree/*.txt
filetree.txt
filetree/*.txt
filetree.txt
